body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Lato", sans-serif; */
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body,
html {
    height: 100%;
    color: white;
    line-height: 1.8;
    /* font-weight: bold; */
}

body {
    background-image: url("media/beach3.jpg");
    background-attachment: fixed;
}

img {
    width: 100%;
}

/* Create a Parallax Effect */
.premier,
.projects_img,
.contact_img {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Premier video */
.premier {
    min-height: 100%;
    margin-top: 18%;
}

.premier iframe {
    border: 5px solid white;
    /* Add a white border */
    border-radius: 10px;
    /* Add border radius for a rounded appearance */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* Add a shadow effect */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}

.premier iframe:hover {
    transform: scale(1.05);
    /* Increase the size of the video on hover */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    /* Enhance the shadow effect on hover */
}

/* Second image (projects) */
.projects_img {
    background-image: url("media/projects.jpg");
    /* background-color: black; */
}

/* Third image (Contact) */
.contact_img {
    background-image: url("media/ny.jpeg");
    /* background-color: black; */
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-modal-content {
    background-color: white;
}

/* @keyframes wave {
    from {width: 0;}
    to {width: width;}
} */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

    .premier,
    .projects_img,
    .contact_img {
        background-attachment: scroll;
        min-height: 400px;
    }
}